<div id="about_me" class="w-full h-screen flex flex-col bg-secondary border-none px-[6%] py-[1.5%] relative">
    <h2 class="tracking-wide font-medium text-[28px] leading-tight text-center">About Me</h2>
    <div class="w-full pt-[2%] grid grid-cols-1 lg:grid-cols-2 gap-4 lg:gap-[60px] relative">
        <div class="flex flex-col">
            <p class="text-[15px] tracking-wide font-light mb-[5px] text-justify">
                👋 Hi there! I'm George Kwabena Asiedu, a passionate Frontend Developer with a keen eye for 
                design and a love for crafting user-centric web experiences. With over 4 years of 
                experience in building responsive and scalable applications, I thrive at the intersection 
                of design and development, combining my skills of creativity and technology.
            </p>
            <p class="text-[15px] tracking-wide font-light mb-[5px] text-justify">
                I specialize in using modern frameworks like Angular and React, to transform complex 
                ideas into intuitive digital solutions. My work revolves around creating seamless interfaces, 
                optimizing performance, and ensuring accessibility for all users.
            </p>
            <p class="text-[15px] tracking-wide font-light mb-[5px] text-justify">
                Over the years, I've contributed to projects ranging from sleek portfolio websites to dynamic 
                e-commerce platforms and data-driven dashboards. Working with cross-functional teams has taught 
                me the value of collaboration and the power of innovative problem-solving.
            </p>
            <p class="text-[15px] tracking-wide font-light mb-[5px] text-justify">
                🌟 I'm passionate about creating clean, maintainable code and ensuring every project I work on is 
                both functional and visually engaging. I firmly believe that great design is not just about aesthetics 
                but also about delivering an exceptional user experience.
            </p>
            <a href="https://www.linkedin.com/in/george-kwabena-asiedu" class="btn-primary w-fit mt-2">Let's connect on LinkedIn</a>
        </div>
        <div class="flex flex-col">
            <h4 class="tracking-wide text-lg font-medium mb-3">Working Experience</h4>
            <div class="flex items-center gap-4 border-b border-gray-200 pb-3">
                <div class="w-[40px] h-[40px] px-[2px] flex items-center justify-center border-none rounded-md shadow-inner bg-white shadow-slate-100">
                    <img src="freelance.jpg" class="w-full object-cover" alt="freelance">
                </div>
                <span class="flex flex-col">
                    <h5 class="tracking-wide text-sm">Freelance Frontend Developer</h5>
                    <p class="tracking-wide text-xs font-light">November 2024 - Present</p>
                </span>
            </div>
            <div class="flex items-center gap-4 border-b border-gray-200 pb-3 pt-2">
                <div class="w-[40px] h-[40px] px-[2px] flex items-center justify-center border-none rounded-md shadow-inner bg-white shadow-slate-100">
                    <img src="amalitech.webp" class="w-full object-cover" alt="amalitech_services">
                </div>
                <span class="flex flex-col">
                    <h5 class="tracking-wide text-sm">Frontend Developer at <span class="font-medium">Amalitech</span></h5>
                    <p class="tracking-wide text-xs font-light">October 2023 - October 2024</p>
                </span>
            </div>
            <div class="flex items-center gap-4 pt-2">
                <div class="w-[40px] h-[40px] px-[2px] flex items-center justify-center border-none rounded-md shadow-inner bg-white shadow-slate-100">
                    <img src="Afrolynk.webp" class="w-full object-cover" alt="Afrolynk">
                </div>
                <span class="flex flex-col">
                    <h5 class="tracking-wide text-sm">Frontend Developer at <span class="font-medium">Afrolynk</span></h5>
                    <p class="tracking-wide text-xs font-light">August 2021 - September 2023</p>
                </span>
            </div>

            <h4 class="tracking-wide text-lg font-medium mb-3 mt-5">Certifications</h4>
            <div class="flex items-center gap-4 border-b border-gray-200 pb-3 pt-2">
                <div class="w-[40px] h-[40px] px-[2px] flex items-center justify-center border-none rounded-md shadow-inner bg-white shadow-slate-100">
                    <img id="freecodecamp-img" src="freecode.png" class="w-full object-cover" alt="freecodecamp">
                </div>
                <span class="flex flex-col">
                    <h5 class="tracking-wide text-sm">Responsive Web Design at <span class="font-medium">FreeCodeCamp</span></h5>
                    <p class="tracking-wide text-xs font-light">February 2022</p>
                </span>
            </div>
            <div class="flex items-center gap-4 pt-2 pb-3">
                <div class="w-[40px] h-[40px] px-[2px] flex items-center justify-center border-none rounded-md shadow-inner bg-white shadow-slate-100">
                    <img src="freecode.png" class="w-full object-cover" alt="freecodecamp">
                </div>
                <span class="flex flex-col">
                    <h5 class="tracking-wide text-sm">Javascript Algorithms and Data Structures at <span class="font-medium">FreeCodeCamp</span></h5>
                    <p class="tracking-wide text-xs font-light">June 2022</p>
                </span>
            </div>
            <div class="flex items-center justify-end w-full">
                <a href="#projects" class="btn-primary w-fit mt-5">My Projects</a>
            </div>
        </div>
    </div>
</div>