<div class="w-full h-screen flex flex-col bg-white border-none px-[6%] py-[2%] relative">
    <header class="flex items-center justify-between w-full overflow-hidden border-none bg-inherit py-[4px] px-0">
        <div class="flex items-center">
            <div class="flex items-center justify-center lg:mr-8 h-[40px] w-[40px] rounded-full bg-primary">
                <h1 class="tracking-wide text-[26xp] font-bold text-white text-center">GA</h1>
            </div>
            <nav>
                <a class="links" href="">Home</a>
                <a class="links" href="#about_me">About Me</a>
                <a class="links" href="#skils">Skills</a>
                <a class="links" href="#projects">Projects</a>
                <a class="links" href="#testimonials">Testimonials</a>
            </nav>
        </div>
        <div class="flex items-center">
            <app-theme-switcher/>
            <a 
                class="links bg-secondary text-tertiary hover:text-primary px-2 py-[6px] rounded-[4px]" 
                href="#contact">
                Contact
            </a>
            <a 
                class="links bg-secondary text-tertiary hover:text-primary px-4 py-[6px] rounded-[4px]" 
                href="#blog">
                Blog
            </a>
            <button 
                type="button"
                class="px-2 py-[6px] rounded-[4px] bg-primary text-white text-sm font-medium"
            >
                Download Resume
            </button>
        </div>
    </header>
</div>