<div class="w-full flex flex-col md:flex-row lg:items-center md:justify-between bg-white border-none px-[8%] md:px-[6%] py-[5%] lg:py-[2%]">
    <div class="flex flex-col lg:flex-row lg:items-center lg:gap-5 mb-5 lg:mb-0">
        <h4 class="tracking-wide font-bold text-lg">George Asiedu</h4>
        <p class="tracking-wide text-sm">Frontend Developer</p>
    </div>
    <nav class="flex flex-col gap-1 md:inline-block md:gap-0 mb-5 md:mb-0">
        <a class="links text-xs" href="">Home</a>
        <a class="links text-xs" href="#about_me">About Me</a>
        <a class="links text-xs" href="#skills">Skills</a>
        <a class="links text-xs" href="#projects">Projects</a>
        <a class="links text-xs" href="#testimonials">Testimonials</a>
    </nav>
    <div class="flex items-center md:items-start lg:items-center gap-3">
        <a href="https://www.linkedin.com/in/george-kwabena-asiedu">
            <img src="linkedin.svg" alt="linkedin" class="w-[30px] h-[30px]">
        </a>
        <a href="https://web.facebook.com/kwabena.funds/">
            <img src="facebook.svg" alt="facebook" class="w-[30px] h-[30px]">
        </a>
        <a href="https://github.com/george-asiedu">
            <img src="github.svg" alt="github" class="w-[30px] h-[30px]">
        </a>
    </div>
</div>